<p id="notice"><%= notice %></p>

<h1>Listing Clubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Big genre</th>
      <th>Small genre</th>
      <th>Frequency</th>
      <th>Place</th>
      <th>Pr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.big_genre %></td>
        <td><%= club.small_genre %></td>
        <td><%= club.frequency %></td>
        <td><%= club.place %></td>
        <td><%= club.pr %></td>
        <td><%= link_to '詳細', club %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% if club_signed_in? %>
  <%= link_to 'ログアウト', destroy_club_session_path, method: :delete %>
<% else %>
  <%= link_to 'ログイン', new_club_session_path %>
<% end %>
