<p id="notice"><%= notice %></p>

<div class="clearfix">
  <%= link_to clubs_path, class: 'back-btn' do %>
    <i class="fas fa-angle-left"></i>
  <% end %>

  <% if current_club == @club %>
    <%= link_to '編集', edit_club_registration_path, class: 'club-edit-btn' %>
  <% end %>
</div>


<div class="club-detail">
  <div class="detail-item">
    <h3>サークル名</h3>
    <p><%= @club.name %></p>
  </div>

  <div class="detail-item">
    <h3>ジャンル</h3>
    <p><%= @club.big_genre %></p>
  </div>

  <div class="detail-item">
    <h3>カテゴリ</h3>
    <p><%= @club.small_genre %></p>
  </div>

  <div class="detail-item">
    <h3>活動頻度(1週間あたり)</h3>
    <p><%= @club.frequency %></p>
  </div>

  <div class="detail-item">
    <h3>主な活動場所</h3>
    <p><%= @club.place %></p>
  </div>

  <div class="detail-item">
    <h3>PR文</h3>
    <p><%= @club.pr %></p>
  </div>

  <div class="detail-item">
    <h3>イケメン率</h3>
    <p><%= @club.face %></p>
  </div>

  <div class="detail-item">
    <h3>飲みサー度</h3>
    <p><%= @club.drink %></p>
  </div>

  <div class="detail-item">
    <h3>人数規模（1学年）</h3>
    <p><%= @club.people %></p>
  </div>
</div>

<div class="twitter-box">
  <a class="twitter-timeline"
    href="https://twitter.com/<%= @club.twitter_id %>"
    data-width="100%"
    data-height="400">
    @<%= @club.twitter_id %>によるツイート
  </a>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


