<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :big_genre %><br>
    <%= f.select :big_genre, options_for_select(["スポーツ", "エンタメ", "その他"]) %>
  </div>
  <div class="field">
    <%= f.label :small_genre %><br>
    <%= f.select :small_genre, options_for_select(["サッカー", "野球", "テニス"]) %>
  </div>
  <div class="field">
    <%= f.label :frequency, "活動頻度(1週間あたり)" %><br>
    <%= f.radio_button :frequency, 1 %>1
    <%= f.radio_button :frequency, 2 %>2
    <%= f.radio_button :frequency, 3 %>3
    <%= f.radio_button :frequency, 4 %>4
    <%= f.radio_button :frequency, 5 %>5
    <%= f.radio_button :frequency, 6 %>6
    <%= f.radio_button :frequency, 7 %>7
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :pr %><br>
    <%= f.text_area :pr %>
  </div>
  <div class="field">
    <%= f.label :face %><br>
    <%= f.radio_button :face, '高' %>高
    <%= f.radio_button :face, '中' %>中
    <%= f.radio_button :face, '低' %>低
  </div>
  <div class="field">
    <%= f.label :drink %><br>
    <%= f.radio_button :drink, '高' %>高
    <%= f.radio_button :drink, '中' %>中
    <%= f.radio_button :drink, '低' %>低
  </div>
  <div class="field">
    <%= f.label :people %><br>
    <%= f.radio_button :people, '30~' %>30~
    <%= f.radio_button :people, '10~29' %>10~29
    <%= f.radio_button :people, '1~9' %>1~9
  </div>
  <div class="field">
    <%= f.label :twitter_id, "Twitter ID" %><br>
    <%= f.text_field :twitter_id %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "clubs/shared/links" %>

<script type="text/javascript">
  $(function() {
    $('#club_big_genre').change(function() {
      $.get({
        url: "/get_small_genre_form",
        data: { big_genre: $('#club_big_genre').has('option:selected').val() }
      });
    });
  });
</script>
